<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark">
  <title>{% block title %}Forge Console{% endblock %}</title>
  <link rel="stylesheet" href="/ui/static/forge-console.css">
  <script src="/ui/static/vendor/htmx-2.0.10.min.js"
          integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
          crossorigin="anonymous"
          defer></script>
  <script src="/ui/static/vendor/alpinejs-3.14.1.min.js"
          integrity="sha384-l8f0VcPi/M1iHPv8egOnY/15TDwqgbOR1anMIJWvU6nLRgZVLTLSaNqi/TOoT5Fh"
          crossorigin="anonymous"
          defer></script>
  {% block head_extra %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
